<% title "Welcome!" %>
<p>Learn about upcoming legislation and express your opinion!</p>
<p>Register or Login to vote!</p>
<h2>Featured Bill</h2>
<div id="bill_list">
<%= render :partial => "bills/bill", :object => @bill %>
</div>
